@import "./common/header.css";
@import "./common/footer.css";
@import "./common/back_icon.css";

@import "./common/cursor.css";

section.about_parallax{
  position: relative;
  width: 100%;
  /* height: 100vh; */
  /* overflow: hidden; */
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */

  /* border: 1px solid red; */
}

section.about_parallax>img#about_bg{
  width: 100%;
}

section.about_parallax>img.about_text{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  /* height: 100%; */
  /* object-fit: cover; */
  /* pointer-events: none; */
}
section.about_parallax>img.sm_img{
  display: none;
}


section.about_parallax>div.animateBlock{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color:  #0b2659;
  bottom: 0;
}



main.about_content{
  position: absolute;
  display: flex;
  margin: auto;
  width: 100%;
  flex-wrap: wrap;
  color: white;
  transform: translate(0,-50%);
  padding: 0 75px 75px 75px;
}

main.about_content>img{
  width: 1200px;
  /* transform: translate(0, -13%); */
  margin-bottom: 50px;
}

main.about_content>h1{
  width: 100%;
  line-height: 120px;
  margin-bottom: 20px;
  /* transform: translate(0,-50%); */

}

main.about_content>p{
  width: 50%;
}


div.other_page{
  display: flex;
  background-color: #0b2659;

  font-size: 120px;
  justify-content: space-between;
  align-items: center;
}
div.other_page>a{
  display: inline-flex;
  width: 50%;
  padding: 75px;
  color: white;
  font-weight: 900;
  border-top: 1px solid white;
  border-bottom: 1px solid white;

  font-size: 50px;
}
div.other_page>a:last-child{
  justify-content: flex-end;
  border-left: 1px solid white;
}





@media screen and (min-width: 1441px) and (max-width: 1600px){
  main.about_content>img{
    width: 1000px;
  }
}

@media screen and (min-width: 1201px) and (max-width: 1440px){
  main.about_content>img{
    width: 800px;
  }
  div.other_page>a{
    font-size: 36px;
  }
}

@media screen and (min-width: 992px) and (max-width: 1200px){

  section.about_parallax>img.about_text{
    display: none;
  }
  section.about_parallax>img.sm_img{
    display: block;
  } 

  section.about_parallax>img#about_bg{
    height: 300vh;
    object-fit: cover;
  }
  main.about_content>img{
    width: 600px;
  }
  div.other_page>a{
    font-size: 36px;
  }
  main.about_content>h1{
    line-height: 60px;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px){

  section.about_parallax>img.about_text{
    display: none;
  }
  section.about_parallax>img.sm_img{
    display: block;
  } 

  section.about_parallax>img#about_bg{
    height: 300vh;
    object-fit: cover;
  }
  main.about_content>img{
    width: 600px;
  }
  div.other_page>a{
    font-size: 26px;
  }
  main.about_content>h1{
    line-height: 60px;
  }
  main.about_content>p{
    width: unset;
  }
}

@media screen and (min-width: 576px) and (max-width: 767px){
  section.about_parallax>img.about_text{
    display: none;
  }
  section.about_parallax>img.sm_img{
    display: block;
  } 

  section.about_parallax>img#about_bg{
    height: 300vh;
    object-fit: cover;
  }
  main.about_content>img{
    width: 600px;
  }
  div.other_page>a{
    font-size: 22px;
    padding: 50px;
  }
  main.about_content>h1{
    line-height: 60px;
  }
  main.about_content>p{
    width: unset;
  }
  main.about_content{
    padding: 50px;
  }
}

@media screen and (max-width: 575px){
  section.about_parallax>img.about_text{ 
    display: none;
  }
  section.about_parallax>img.sm_img{
    display: block;
  } 

  section.about_parallax>img#about_bg{
    height: 200vh;
    object-fit: cover;
  }
  main.about_content>img{
    width: 600px;
  }
  div.other_page>a{
    font-size: 14px;
    padding: 40px 20px;
  }
  main.about_content>h1{
    line-height: 60px;
  }
  main.about_content>p{
    width: unset;
  }
  main.about_content{
    padding: 20px;
  }
  div.other_page{
    margin-bottom: 100px;
  }
}


/* 
  section.about_parallax>img.about_text{
    display: none;
  }
  section.about_parallax>img.sm_img{
    display: block;
  } 
  
*/